# OS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*

# Python (just in case)
__pycache__/
*.pyc

# Build outputs
dist/
build/
coverage/

# IDE
.vscode/
.idea/

# Docker local
*.log